<h1>New Registration</h1>

<%= form_for([@event,@registration]) do |f| %>
	<ul><li><%= f.label :name %>
	<%= f.text_field :name %></li>
	<li><%= f.label :email %>
	<%= f.text_field :email %></li>
	<li><%= f.label :info_source %>
	<%= f.text_field :info_source %></li>
	<%= f.submit "Save Registration" %>
<% end %>