<h1>New Registration</h1>

<%= form_for([@event,@registration]) do |f| %>
	<ul><li><%= f.label :name %>
	<%= f.text_field :name %></li>
	<li><%= f.label :email %>
	<%= f.text_field :email %></li>
	<li><%= f.label :info_source %>
	<%= f.select :info_source, Registration::INFO_SOURCE_OPTIONS, prompt: "Choose one" %></li>
	<%= f.submit "Save Registration", class:"btn btn-primary" %>  <%= link_to "Cancel", event_path(@event), class:"btn btn-danger" %>
<% end %>