<h1>Events</h1>

Listing generated at <%= Time.now %>. There are currently <%= @events.size %> events.
<ul>
	<% @events.each do |event| %>
	<li><strong><%= event.name %></strong> at <%= event.location %>: <%= number_to_currency(event.price) %></li>
	<% end %>
</ul>
