<h1>Event Listing</h1>

This listing generated at <%= Time.now %>. There are currently <%= pluralize(@events.size, 'event') %>.

<% @events.each do |event| %>
<article>
	<header>
		<h2><%= event.name %></h2>
	</header>
	<p><%= truncate(event.description, length: 25, separator: ' ') %></p>
	<table>
		<tr>
			<th>Date</th>
			<td><%= event.starts_at.to_s(:Default) %></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><%= event.location %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= number_to_currency(event.price) %></td>
		</tr>
	</table>
</article>
<% end %>
