<h1>Event Detail</h1>

<article>
	<header>
		<h2><%= @event.name %></h2>
	</header>
	<p><%= truncate(@event.description, length: 25, separator: ' ') %></p>
	<table>
		<tr>
			<th>Date</th>
			<td><%= @event.starts_at %></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><%= @event.location %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= format_price(@event) %></td>
		</tr>
	</table>
</article>
<div>
	<%= link_to 'All Events', events_path %>
</div>