<h1>Event Detail</h1>

<article>
	<header>
		<%= image_helper(@event) %>
		<h2><%= @event.name %></h2>
		<%= pluralize(@event.capacity, 'spot') %>
	</header>
	<p><%= truncate(@event.description, length: 25, separator: ' ') %></p>
	<table>
		<tr>
			<th>Date</th>
			<td><%= @event.starts_at %></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><%= @event.location %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= format_price(@event) %></td>
		</tr>
	</table>
</article>
<div>
	<%= link_to 'Edit Event', edit_event_path, class:"btn btn-info" %>  <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?'}, class:"btn" %>
</div>